.navigationbar
{
    background-color: #68C8B3;
    width:100%;
    
}

    

#navbarSupportedContent
{
  margin-left: 50px;
}
.logo
{
    margin-top: 20px;
    height: 150px;
    width:150px;
    margin-left:0px;
    float: left;
}
.left
{  
background-color:#68C8B3;
  
width:100%;
}
.right{
    background-color:#68C8B3;
  padding-right: 90px;
   text-align: right;
  width:100%;
  
}
.phone-location
{
   text-align: right;
}
.heading_gptc
{
    padding-top: 25px;
    margin-left: 170px;
    margin-right: 150px;
    padding-right:150px;
    background-color:#68C8B3; 
   
} 
.address_gptc
{
    padding-top: 50px;
    margin-top:50px;
    margin-right: 150px;
    padding-right:150px;
    

}

header{
   padding: 10px;
  
}
.topbuttons
{
  padding-left: 25%;
}
.button1
{
 
 float: right;
 
    margin-top: 0px;
    border-color:aliceblue;
    background-color: #ffb85f;
    border-style: hidden;
    border-radius: 8px;
    margin:  10px;
}
.button2
{
    
    margin:10px;
    float: right;
   
    background-color: #ffb85f;
    border-color:aliceblue;
    border-style: hidden;
    border-radius: 8px;

}
.clgimage
{
    width: 100%;
}
.row_1
{
    background-color:#68C8B3;
}




